<!DOCTYPE html>
<html lang="en">{% include "/head.html" %}

<body>
    <!-- Preloader-->
    <!-- Header Area-->{% include "/header.html" %}
    <!-- Scroll Indicator-->
    <div id="scrollIndicator"></div>
    <!-- Breadcrumb Area-->
    <!-- saasbox Blog Area-->
    <div class="saasbox--blog--area section-padding-120">
        <div class="container">
            <div class="row">
                <div class="col-3 sidebar-blog">
                    <div id="toc_container">
                        <a href="#"><i class="lni-heart"></i></a><span>267 Like</span>
                        <p class="toc_title">Contents</p>
                        <ul class="toc_list">
                            <li><a href="#First_Point_Header">1 First Point Header</a>
                                <ul>
                                    <li><a href="#First_Sub_Point_1">1.1 First Sub Point 1</a></li>
                                    <li><a href="#First_Sub_Point_2">1.2 First Sub Point 2</a></li>
                                </ul>
                            </li>
                            <li><a href="#Second_Point_Header">2 Second Point Header</a></li>
                            <li><a href="#Third_Point_Header">3 Third Point Header</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-9">
                    <div class="single-blog-details-area"><img class="post-thumbnail mb-5" src="/static/img/bg-img/blog20.jpg" alt="">
                        <div class="post-date mb-2">Oct 1, 2019</div>
                        <h2 class="mb-3">Scheduled Maintenance</h2>
                        <div class="post-meta mb-5"><a class="post-author" href="#">By Meera</a><a class="post-tutorial" href="#">mDrift Technologies</a></div>

                        <p>Building maintenance usually practice in every countries and it is very important in every development to have maintenance management.The importance of maintenance on every building is much essential because without proper building
                            maintenance, it can decrease the building's value.Maintenance is the activity that has been undertaken to eliminate a building's deterioration while repairing the damage that happens in the building as well.The efficiency process
                            in building maintenance practices has to be worrying because building maintenance is very important to ensure the building is well maintained. The building maintenance process is to make sure all of the building's facilities
                            are functional and give the building users convenience. Here comes the significance of Scheduled Maintenance. What is Scheduled Maintenance? </p>
                        <p>
                            Scheduled maintenance is any job assigned to a technician and which is given a deadline. It may be either a recurrent task performed at regular intervals or a one-time task. Maintenance schedule includes inspections, adjustments, regular service and planned
                            shutdowns.The scheduled maintenance may take place at repeated intervals or in response to a request for work. What is Not a Scheduled Maintenance? Sometimes people get confused with Scheduled and Unscheduled Maintenances.
                            Unscheduled maintenance is works because of unexpected failures, breakdowns etc. Importance of Scheduled Maintenance Scheduled maintenance can extend the life of the buildings dramatically. Scheduled maintenance has other benefits.
                            This will stop unforeseen maintenance or repair problems. If the machines or any functions of a building suddenly breaks down, users will need to scramble to fix it, and figure out what to do in the meantime. If a maintenance
                            schedule has set already, then there are procedures in place to pick up the slack when that building is out of commission. Preventive maintenance may also improve the conditions of health. Regular maintenance can help to lessen
                            the potential for fault related injuries.</p>
                        <p>Mostly at the lowest level, the provision of construction infrastructure accounts for between 20% and 45% of the overall operating costs of buildings. Unsatisfactory performance of these facilities accounts for the majority of
                            building users' concerns, and recent reports of sick building syndrome have demonstrated the severe effects of insufficient maintenance procedures. Increasing sophistication of building services has made building owners and
                            users more aware of the value of cost-effective, planned maintenance. This Article outlines the main points of the maintenance system, with particular reference to building engineering services, but applicable throughout the
                            building. Types of Scheduled Maintenance Scheduled Maintenance can be classified into two. One is recurring and another is one-time scheduling. Maintenances often occur at repeating intervals are called Recurring Scheduled
                            Maintenances like, changing Air Filter, interval servicing etc. For recurring scheduling, we have to prepare recurring work orders. A one-time scheduling is the work order for an unexpected maintenance. Once a problem is discovered,
                            a maintenance scheduler works with a maintenance planner to resolve the problem. A time is then scheduled to conduct necessary repairs. Scheduled and Planned Maintenances The difference between planned and scheduled maintenance
                            is among the most frequent points of confusion for those charged with maintaining a building facility. Scheduled maintenance is frequently paired with planned maintenance, but in reality the two are two different activities.Planned
                            maintenance deals with the procedures and resources needed to complete the necessary work effectively, while scheduled maintenance handles are the ones that conduct the work and when. The two go hand in hand, and they depend
                            on each other to ensure that maintenance activities are efficiently completed.</p>
                        <p>
                            Planned maintenance is the act of anticipating maintenance work and carrying out a process to complete the work. This includes everything from the identification of a task to the materials and workflows required, prioritization, and procedures for analyzing
                            completed tasks. Planned maintenance refers to any planned, documented, and scheduled maintenance activity. The aim of the planned maintenance is to minimize downtime by having all the required resources on hand, such as labor
                            and parts, and a strategy for utilizing those resources. For example, running a lamp until it fails or lubricating a motor on a bi-weekly basis, is a planned maintenance as long as a plan is in place to address a situation.
                            Scheduled maintenance is the process of determining when to complete the scheduled maintenance activities and who will complete them. Though a process is defined by planned maintenance, scheduled maintenance is part of that
                            process. When a problem or task is identified, a completion deadline may be set and assigned to a technician. This is when it turns into scheduled maintenance.</p>
                        <p>While the planned and scheduled terms may sound similar, there are significant differences between the two. The primary objective of planned maintenance is to assess where the maintenance needs occur and what procedures, equipment,
                            and parts are needed to resolve them. This planning process can incorporate preventive, predictive, and condition-based methods to identify current or potential issues and set out the best long-term and short-term maintenance
                            strategies to address them. Planned maintenance output becomes the essential input for scheduled maintenance. After defining the "what" and "how" through planned maintenance, scheduled maintenance completes the cycle by identifying
                            the "who" and "when" Maintenance process criticality is continually balanced against resource availability, and maintenance personnel are assigned realistic deadlines.</p>
                        <h2 class="blog">How to plan Scheduled Maintenance? </h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="450" height="300" viewBox="0 0 300 150">
                            <rect fill="#ddd" width="450" height="300"/>
                            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">300×150</text>
                        </svg>
                        <p>Planning scheduled maintenance activities, a manager is given the unique opportunity to plan downtime for a machine or service. The maintenance department 's objective should be to minimize downtime attributed to both scheduled
                            and unscheduled maintenance. A primary aim of proactive maintenance is to detect possible failures with adequate lead time to prepare and schedule the corrective work before actual failure. When the maintenance role is efficient
                            it will reduce the unplanned downtime. Measuring scheduled down time for comparison is equally relevant. Of course it is not possible to avoid all unscheduled maintenance. Even the most effective preventive maintenance program
                            will come up against unexpected failures. However, if proper maintenance activities are planned, the daily maintenance workload won't be consumed by intermittent failures. Maintenance should be scheduled at 80 per cent (80
                            %) of all maintenance. That, at least, would be the goals of an organisation. The benchmark and target of an effective proactive maintenance system should be this.
                        </p>
                        <h2 class="blog">Scheduled Maintenance Examples</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="450" height="300" viewBox="0 0 300 150">
                            <rect fill="#ddd" width="450" height="300"/>
                            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">300×150</text>
                        </svg>
                        <p> It is possible to use an essential piece of equipment around the clock that can induce stress and limit windows of maintenance opportunity. In order to define and use these rare windows as effectively as possible, scheduled maintenance
                            requires a comprehensive understanding of maintenance requirements, task time estimates and appropriate intervals. This essential machine could require lubrication and alignment every three months to avoid performance degradation
                            or inacceptable wear rates. Production schedules should be checked in conjunction with availability of technicians, inventory of spare parts and fixed task durations to create the most attainable and effective maintenance schedule.
                            Other applications for scheduled maintenance combine planned and unplanned maintenance tasks to improve efficiency. For example, if a robust cleaning process is performed every 90 days on laser welding equipment and it is known
                            to consume between 60 and 75 minutes of technician time, a one-time software upgrade with a similar completion time could be combined with this pre-scheduled maintenance to benefit from technical expertise and downtime of equipment.
                            This strategic scheduling also creates knowledge transfer and cross-training opportunities that add value to the workforce.

                        </p>
                        <h2 class="blog">Developing a Scheduled Maintenance Plan</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="450" height="300" viewBox="0 0 300 150">
                            <rect fill="#ddd" width="450" height="300"/>
                            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">300×150</text>
                        </svg>
                        <p>A thorough analysis of all assets including relative value to the company and planned regular maintenance needs will precede the implementation of a scheduled maintenance program. The time spent in establishing a new scheduled
                            maintenance plan is also the best time to challenge any preconceived intervals or tasks that may have been arbitrarily or without sufficient data being applied. Another factor which helps to define accurate risk profiles and
                            maintenance intervals is the real-time value of each asset in replacement dollars. Once the overall maintenance needs are defined, the tasks can be organized into logical sequences and groupings which ultimately feed into the
                            generation of procedures and work order. It is necessary to understand the skill sets required for each possible work order when sorting and organizing these maintenance tasks. If the right resources are not available, a planned
                            maintenance program will never be successful in achieving on-time performance goals. Resource preparation should also recognize the effect of eventually occurring unplanned maintenance, and to ensure that adequate hours are
                            budgeted to support the program. The scheduled maintenance plan can be launched in earnest once specifications, resources, and spare parts are identified. This plan's centerpiece is a master schedule that includes dates , times,
                            and resThe planned maintenance system will provide a feedback loop that takes into account the real completion times, replacement parts use, and other shop floor details for potential schedule management and resource planning.
                            Maintenance scheduling tools may be used to evaluate and incorporate the input into a process that is continuously improving.ponsibilities for each scheduled maintenance task over the designated period.
                        </p>
                        <h2 class="blog">Benefits of Scheduled Maintenance</h2>
                        <p> Commercial installations demand regular maintenance. That is because movable components that are susceptible to wear and tear are involved. You should agree to the planned maintenance plans to be on the safe side. With such plans,
                            you can make sure your system is integral. You may also claim compliance with the safety requirements. Once you do that, you'll reap the benefits.The scheduled maintenance serves a variety of other purposes in addition to minimizing
                            downtime.
                        </p>
                        <ol class="number-list">
                            <li>
                                <p> <strong>Identifies problems proactively on time</strong> :- Although it involves minor inspections and repairs, it can not be overstated on its importance. Unlike waiting for the system to start operating sub-optimally,
                                    you can always stay up front of the situation. You should have rectified the issue before the actuators start to misbehave. This also allows you to keep track of consumables in a commercial establishment. Some items
                                    have a recommended lifespan, such as belts and filters. They should be replaced once that time has lapsed. You can only keep track of such things via scheduled works. Again, there is no need to check everything at every
                                    interval; at that particular time, you'll look at what's scheduled for the service.</p>
                            </li>
                            <li>
                                <p>
                                    <strong>Costly repair can be avoided resulting from damages</strong> :- Maintenance services at the facility are the only sure way to keep a large system in pristine condition. You can prevent the accumulation of small
                                    problems into full blown and system-wide repair works. It will chew some of its parts in the process before your system grinds to a halt.You cannot allow that to happen. Sometimes, when a device is neglected to a point
                                    where it is no longer able to handle stuff, it will need replacement and pneumatic parts which cost you a fortune. By scheduling regular facilities maintenance services you can prevent that from happening. It all begins
                                    with scheduled inspection services and subsequent repair of emerging problems. The idea is to look for trouble during that process. Look for potential sources of concern, and immediately fix them.

                                </p>
                            </li>
                            <li>
                                <p> <strong>Reduces downtime</strong> :- Systems should always remain in working conditions. Some systems power every person's activities in the company from fabrication to customer service. Even a 5-minute failure in such
                                    a situation will send the entire workforce into panic mode. Lots of person-hours would have been lost before they recovered.Maintenance of commercial installations happens when the system is still in operation. Real
                                    downtimes are not there. It'll be minimal, even if there is. It'll also be an opportunity to see the system while in use. If you are waiting for the system to develop technical problems, a full-blown maintenance process
                                    will require you to shutdown.</p>

                            </li>
                            <li>
                                <p> <strong>Incorporate in-house technicians training</strong> :- It takes extensive on-the-job training to have a team that can operate a commercial facility. The preventive maintenance programs can always be used to train
                                    your in-house personnel. They 're going to be on system control. Since the installation company is doing the technical bit, your team can keep updating regularly. When a new crew gets system orientation every time there
                                    is a facility repair, you'll have a knowledgeable team that uses the system without outside assistance. You don't just need to focus on the technical use. You can train staff about safe use, procedures for safety, improvements
                                    and innovations.
                                </p>

                            </li>
                            <li>
                                <p> <strong>Improves the life of the systems</strong> :- To give you extended service all machines require recommended service plans. They don't often break down. You won't need to replace critical parts, because they will
                                    always work optimally. On time, movable parts will be grained and oiled. They aren't going to get wear and tear. The most important aspect of servicing facilities is the quality it gives you. For longer, a system can
                                    deliver you mediocre services. For an optimal period of time another system can give you superior services. For optimum timelines any plant operator would choose optimal services. Keeping the system gives you the option
                                    to reap great rewards.</p>

                            </li>
                            <li>
                                <p>
                                    <strong>Ensures proper scheduling</strong> :- If you have a number of orders, you should make orders rendezvous based on that. If there is a problem with the machine, a customer will need to be inconvenienced. In this
                                    era of customer service that's not appropriate. Through order fulfillment your future buyers will become aware of your problems and you will lose them. Fortunately, you can avoid all that by making sure your facility
                                    is always in a reliable condition. Unless a system is past its lifespan it should continue to deliver excellent results to you consistently. That is what management of the facilities does.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <p> <strong>Improves Safety</strong> :- It's a priority to protect your employees. A single incident of occupational injury will bring the facility up for evaluation. Such a check will cost you a license to operate. Compensation
                                        and the loss of employee productivity will also impact your business. Neglected devices pose a major health threat. There can be accidents.Also, insurers look at those issues when calculating premiums. If you have
                                        the equipment that's disordered, you'll pay more. You can improve your safety at work by making sure that your machines operate according to the recommended safety standard. You'll pay less in premiums, and without
                                        fear of injury or death, your staff will work in confidence. Authorities will also be on your neck if you have an understandard plant in operation.</p>

                                </p>
                            </li>
                            <li>
                                <p> <strong>Standardized production</strong> :- Quality control is a necessity. Once you have a product approved according to specifications, authorities expect to maintain the standards. If not, you may face fines. The essence
                                    of the mechanization is to ensure maximum attention is paid to each product. Repair services from facilities ensure the manufacturing line stays unadulterated. The waste and related losses will be reduced. There are
                                    scheduled plans that you can't miss, depending on the maintenance of your commercial facility. They are structured in such a way as to add value to the plant. Such value can be realized through standardized input and
                                    output of production, improved safety, reduced downtime and costly repair prevention. In addition to these, scheduled maintenance serves a variety of other purposes.
                                </p>
                            </li>
                            <li>
                                <p><strong>Higher utilization of personnel</strong> since maintenance workers spend more time working </p>
                            </li>
                            <li>
                                <p><strong>Greater life expectancy</strong> of assets as breakdowns are avoided </p>
                            </li>
                            <li>
                                <p><strong>Higher maintenance costs</strong> when time is effectively spent and expensive problems avoided </p>
                            </li>
                            <li>
                                <p><strong>Proactive efficiency</strong> culture as personnel perform the required tasks </p>
                            </li>
                            <li>
                                <p><strong>Reduced responsibility</strong> as properties stay in good working order</p>
                            </li>

                        </ol>
                        <p>

                        </p>




                        <h2 class="blog">Scheduled Maintenance Features</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="450" height="300" viewBox="0 0 300 150">
                            <rect fill="#ddd" width="450" height="300"/>
                            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">300×150</text>
                        </svg>

                        <p>Scheduled Maintenance allows you to build a scheduled maintenance program which reduces unplanned outages and system failures. The aim is to provide service systems before they fail instead of after they fail. Scheduled maintenance
                            assists in managing, configuring, and customizing scheduled maintenance. It installs without an update, and operates independently of updates to Service Manager. It integrates in a pre-existing installation of the Service Manager
                            without changing any tailoring and customization. Scheduled Maintenance allows you to create and store as many maintenance tasks as the organization needs.
                        </p>
                        <ol class="number-list">
                            <li>
                                <p>Using closed loop integration with Service Manager, create and schedule recurring maintenance tasks, including records of incidents, change requests and request fulfillment requests. </p>

                            </li>
                            <li>
                                <p>Keep all scheduled maintenance tasks in a central repository to ensure important on-time maintenance takes place. Stored maintenance tasks automatically generate records of incidents, requests for changes or requests for
                                    fulfillment as they become due. </p>

                            </li>
                            <li>
                                <p>Using the Service Manager to automatically inform users of maintenance activities as due.</p>
                                </p>

                            </li>
                            <li>
                                <p>Create and monitor Scheduled Maintenance activities even though you don't know the Service Manager.</p>

                            </li>
                            <li>
                                <p>Make available audit information, as required. The maintenance history and the auditing details are available for review for each job.
                            </li>
                            <li>
                                <p>Create sophisticated and comprehensive maintenance tasks.</p>
                            </li>
                            <li>
                                <p>Maintain customisation and tailoring of the current Service Manager. </p>
                            </li>
                            <li>
                                <p>Track scheduled maintenance tasks.</p>
                            </li>

                        </ol>

                        </p>
                        <h2 class="blog">Systematic Scheduled Maintenance</h2>
                        <svg xmlns="http://www.w3.org/2000/svg" width="450" height="300" viewBox="0 0 300 150">
                            <rect fill="#ddd" width="450" height="300"/>
                            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">300×150</text>
                        </svg>
                        <p>
                            Systematic scheduled maintenance is the collection of maintenance tasks performed on the equipment or installation by following an specified schedule, by working time, quantity generated, and mileage, by a fixed schedule or by some other process that
                            is repeated periodically. This collection of tasks is rendered no matter what the equipment 's condition is. The systematic maintenance program is very effective in equipment and facilities requiring medium or high availability,
                            of some importance in the production system whose failure causes disruption in the production plan of the company and therefore symptoms failure can not be expected. Typical Systematic Maintenance Tasks are:
                        </p>
                        <p>Equipment technical cleaning</p>
                        <p>Features verification</p>
                        <p>Checking the proper operation of the instrumentation, and its calibration</p>
                        <p>Checking the internal state of some components which can not be checked with in-service equipment and which involve a complex disassembly</p>
                        <p>Replacement of worn components such as impellers, gears, gears, sealing components, needles, valve liners, heads of valve, etc.
                        </p>
                        <p>Systemic maintenance may be applied to specific equipment or to an entire installation. That method of routine maintenance is often replaced by condition maintenance: the equipment is checked and only interferes when there are
                            signs of malfunction that explain it. However, it is not always possible to avoid systematic interventions, especially when it is needed at all costs to ensure production and you have a specific time for a scheduled review.
                            Scheduled maintenance of buildings</p>
                        <p>
                            Maintenance is the method of ensuring good appearance and operation of buildings and other properties at optimum performance. Insufficient maintenance can result in decay, degradation and reduced performance, and can affect heat and threaten the safety
                            of nearby users, occupants and others. Scheduled maintenance performed at predetermined intervals, number of operations, hours run including access allowances. Regular maintenance of the building is of utmost importance if
                            you want to keep the investments in good shape. It also helps bring down rapid depreciation. If you let go of your building, it will deteriorate-and also quickly , meaning it will lose value and you will inevitably lose money.
                            Regular maintenance scheduling can help avoid that. Building maintenance is important because it ensures the safety and comfort of anyone who stays in a building, whether they live or work there. From a business point of view,
                            proper regular maintenance can save property owners money in the long run and contribute to an increase in property value.</p>
                        <p>
                        </p>
                        <p>Operations and repair equipment are two of the largest expenses in the traditional facility management budget. Nonetheless, maintenance costs can be managed with a clear understanding of planned maintenance. Facilities administrators
                            need to consider what this means for their organisations and how to set up an effective system.</p>
                        <p>
                            <strong>How to determine the scheduling intervals?</strong> It is necessary to have regular maintenance every few months or every year. It's important to have regular maintenance not just on the outside or inside, but on both
                            sides. Buildings can deteriorate as quickly on the inside as on the outside. How much you will need building maintenance much depends on the position of the building, which involves factors such as the type of weather that
                            the building will be exposed to. Another consideration is the type and age of the building. Whatever the case may be, set a schedule that works for your building and stick to it.</p>
                        <p>Regular maintenance of buildings is a great way to stay ahead of audits-especially hygiene audits. For example, a food distribution company may need scheduled maintenance to ensure that floors, loading bays and gutters are cleaned
                            regularly. It's important to have regular cleaning done and to keep up with important tasks. Catching minor problems Early helps to prevent major repairs. It's a good idea to have a budget for regular maintenance. You may not
                            be able to avoid all the emergency repairs that are needed, but you will be much better able to avoid them if you keep up with the work that your building requires. Do a little upkeep now and save yourself a huge repair at
                            the end of the day. Emergency repairs are always much larger than maintenance, and they're almost always going to happen when it's the most inconvenient, or when you have to pay extra to get the repairman out, which will cost
                            you even more. It's a good idea to have a budget for regular maintenance. You may not be able to avoid all the emergency repairs that are needed, but you will be much better able to avoid them if you keep up with the work that
                            your building requires. Scheduled maintenance will protect your assets and keep employees and customers safe from any contamination problems. It will also help you avoid costly repairs that would be more expensive than routine
                            maintenance. This also reduces liability and prevents more expensive emergency repairs. It's important to keep up with the maintenance of your building. It may seem like an extra expenditure at the moment, and it can be, but
                            it is part of keeping up on your building maintenance. If you don't, you might be able to put off having to pay out in the meantime. Maintenance slackening can often catch up with you, and the bill is going to be much bigger
                            in the end.
                        </p>
                        <p><strong>Routine Maintenance decrease Downtime</strong> Routine maintenance is designed to help ensure efficient performance of machinery, machines and buildings. If a particular piece of equipment needs lubrication, it can operate
                            at a slower rate and reduce the efficiency of the entire line. If the dirt interferes with a certain portion, the entire production line may be shut down before the problem has been found. In addition, routine maintenance may
                            be scheduled on a daily basis, allowing a company to maximize the use of its maintenance resources. Advantages of Routine Maintenance Routine maintenance prevents larger problems from occurring. Taking good care of the equipment,
                            machines, and installations will extend their overall life as well as keep them performing at their best. Routine maintenance gives technicians the opportunity to regularly lay their eyes on important components of a production
                            line or specific system, as well as on any other potential problems that may arise. In addition, most maintenance technicians assigned to perform routine inspections, cleaning or fittings are entry-level or relatively new to
                            a specific maintenance department. Routine maintenance is usually simple and straightforward and is an excellent training ground for a new technician to learn about a particular facility, business or complex. Routine maintenance
                            provides an excellent return on investment, taking into account the reduction of emergency work orders, increased equipment efficiency and fewer replacement needs. To maximize the benefits of routine maintenance, provide training
                            and training to maintenance technicians on how to clean, inspect, lubricate, service and adjust equipment, components or systems. Establish a detailed maintenance checklist for each piece of equipment or computer that needs
                            routine maintenance, and review the industry standard for lubrication, repair or cleaning to ensure that routine maintenance is sufficient.</p>
                        <p>Notifying about Scheduled Maintenance.
                        </p>
                        <p><strong>What is the importance of notifying tenants about Scheduled Maintenance? </strong>Imagine if you're browsing the online store, and unexpectedly different errors appear on the page. Or worse, you 're processing an order,
                            and you can't finalize it. These are all similar scenarios that can happen with a building if it is not properly maintained. That's why it's always a good idea to let your customers know when you're doing scheduled maintenance
                            in your building. Update the user two or three days . hour prior to the work according to the need of the service. Scheduled Maintenance and Maintenance Planning Scheduled maintenance is the most easily plannable type of maintenance
                            management. This activity is primarily concerned with the preservation of assets in the real estate portfolio and with the maintenance tasks prescribed by law, but here it is intended for much more than that.For example, cleaning
                            is a process that is fully similar to the maintenance management process, as it must also be carried out in compliance with strict routine, periodic standards and guidelines.</p>
                        <p> <strong>Job classification</strong> Job classification has several aspects, but one of the most important dimensions is to categorize the value of the work in question. With its help, work of minimum , average or outstanding importance
                            can be easily filtered to support rapid planning in the event of cost reduction or replanning. Public holidays must also be taken into account in the case of regular repair or cleaning jobs. In the case of public holidays,
                            it is possible to leave the scheduled work or to transfer it or to have it carried out with compulsory effect even if the day on which it is scheduled would otherwise be a day off.</p>
                        <p> <strong>Preventive Maintenance</strong> Preventive Maintenance comes under scheduled maintenance.Preventive maintenance is a proactive approach to building operations that helps to detect and fix equipment problems before they
                            actually occur. Unlike reactive maintenance, which happens after machinery has already broken down, preventive maintenance is a more proactive method to maintain properties in optimal working order. Preventive maintenance program.
                            In order to perform preventive maintenance, the facility team will perform several types of routine equipment checks. Procedures can include testing, checks, new parts, measurements, lubrication, tightening and fitting adjustments.
                            These procedures help the facility team to stay on top of maintenance and deliver the right type of repair when needed. Issues that are detected early can be fixed more quickly, which may extend the overall useful life of the
                            systems and equipment within the building. The purpose of our expanding Preventive Maintenance (PM) Program is to assure the efficiency and extend the life of equipment, and reduce the occurrence of unscheduled equipment outages.The
                            Preventive Maintenance Program includes equipment Facilities & Services is financially responsible to maintain as well as equipment the departments are financially responsible to maintain. By performing preventive maintenance,
                            we are able to detect and correct problems before they occur. The PM program is an ongoing process that will continue to expand as new assets are identified. Planned preventive maintenance (PPM) that is scheduled and can prevent
                            damage from occurring, helping to avoid breakdowns and downtime.</p>
                        <p>
                            <strong>Merits of Preventive Maintenance</strong>
                        </p>

                        <svg xmlns="http://www.w3.org/2000/svg" width="450" height="300" viewBox="0 0 300 150">
                            <rect fill="#ddd" width="450" height="300"/>
                            <text fill="rgba(0,0,0,0.5)" font-family="sans-serif" font-size="30" dy="10.5" font-weight="bold" x="50%" y="50%" text-anchor="middle">300×150</text>
                        </svg>

                        <p>With the right tools and services, facilities managers can use PM to change the way they look after their buildings and grounds. Here are the reasons why adopting a preventive maintenance plan can benefit your facility department
                            and your organization as a whole.
                        </p>
                        <ul>
                            <li>
                                <p> <strong>1.Save money and waste less energy</strong> :- Costly repairs and upgrades are less frequent when the equipment is preserved. Although it is almost impossible to avoid all reactive maintenance, the risk of a significant
                                    failure is negligible when the facility department implements a proactive maintenance plan. Regular maintenance can also result in reduced energy bills. Equipment that operates as planned is more likely to operate efficiently
                                    and use less energy than unmaintained equipment.
                                </p>
                            </li>
                            <li>
                                <p> <strong>2. Extending the useful life of critical equipment</strong> :- Boilers, HVAC systems, plumbing, air handling and roofing equipment are only a few examples of building properties that need regular maintenance for
                                    optimal performance. Checking equipment regularly means that it will last longer, as issues are identified early and can be dealt with as needed. Equipment also remains in its optimum condition, thereby enhancing its
                                    useful life.
                                </p>
                            </li>
                            <li>
                                <p> <strong>3. A safer work environment for the team</strong> :- A majority of facility managers would agree that maintaining the safety of their buildings is a top priority. Preventive maintenance plans can make buildings
                                    safer and safer. Equipment that meets safety standards is less likely to pose a risk or cause serious damage to operators. With regular maintenance, hazardous and catastrophic equipment failures are reduced , making
                                    your facility a safer place for employees and occupants alike.</p>
                            </li>
                            <li>
                                <p> <strong>4. Reduce unexpected disruptions and asset breakdowns</strong> :- Regular equipment checks mean that you won't be caught off guard if something goes wrong or breaks down. A preventive maintenance plan will indicate
                                    when parts have to be replaced. This ensures that there will be little-to-no unnecessary downtime, as spare parts and service technicians are on hand for prompt repairs. Replacing parts before they are damaged also
                                    means that there will be less wear and tear compared to machines that are serviced with run-to-fail maintenance.</p>
                            </li>
                            <li>
                                <p> <strong>5. Plan ahead and budget for upcoming maintenance</strong> :- Following a maintenance schedule means that you will be better prepared to stick to the budget allocated to your department. Repairs are planned in advance,
                                    so that all costs associated with replacement parts and repair personnel are included in the department's budget. A proactive maintenance program can also help you keep track of asset names, parts and contact details
                                    for repair workers. Because maintenance is carried out during the year, you'll know exactly what annual costs to measure for future maintenance. The ideal method to implement Preventive Maintenance Most facility managers
                                    like the concept of preventive maintenance, but are easily frustrated by not knowing where to start. Good news is that implementing a proactive process can be painless if team building develops a sound strategy and
                                    uses the right tools.Preventive maintenance plans could suffer if the department does not have a consistent way to coordinate program information. The quickest and most effective way to perform preventive maintenance
                                    is to use facility management software with a PM scheduling module. Software eliminates the need for bulky paper stacks and cluttered spreadsheets. It may also reduce stress , improve departmental efficiency and support
                                    program automation. Right facilities management program will give the team timely reminders of planned maintenance and inspections.Your team would also have access to information on work order and preventive maintenance
                                    procedures when in the field.
                                </p>
                            </li>
                        </ul>



                    </div>
                    <!-- Post Tag & Share Button-->
                    <div class="post-tag-share-button d-sm-flex align-items-center justify-content-between my-5">
                        <!-- Post Tags-->
                        <div class="post-tag pb-5">
                            <ul class="d-flex align-items-center">
                                <li><a href="#">agency</a></li>
                                <li><a href="#">business</a></li>
                                <li><a href="#">studio</a></li>
                            </ul>
                        </div>
                        <!-- Share Button-->
                        <div class="share-button pb-5"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-pinterest"></i></a></div>
                    </div>
                    <!-- Comments Area-->
                </div>
            </div>
        </div>
    </div>
    <!-- Cool Facts Area-->
    <section class="cta-area cta3 py-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-sm-8">
                    <div class="cta-text mb-4 mb-sm-0">
                        <h4 class="text-white mb-0">Lets start with the simple way to create a website.</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-4 text-sm-right"><a class="btn saasbox-btn white-btn" href="#">Buy Now</a></div>
            </div>
        </div>
    </section>
    <!-- Footer Area-->{% include "/footer.html" %}
    <!-- All JavaScript Files-->{% include "/all_js.html" %}</body>

</html>